.principalContainer {
    padding: 0rem 2%;
}
.containerCards {
    display: grid;
    margin-top: 2rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    row-gap: 25px;
    column-gap: 53px;
    max-width: 100%;
}
.secondarycontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cargando{
  color: #2dd4bf;
  height: 5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mundoGirando{
  width: 200px;
  height: 200px;
}
@media (max-width:768px){
    .principalContainer {
      padding: 20px;
    }
  }